h1 {
  color: green;
  font-family: fantasy;
  text-align: center;
}

h2{
  color: red;
  font-style: italic;
  text-align: center;
}

p{
  font-family:sans-serif;
  font-size: 20px;
  line-height: 30px;
}

ul{
  text-align: left;
}
